html {
	padding: 1%;
	font-family: 'Raleway', sans-serif;
}

button, select, input {
	font-family: 'Raleway', sans-serif;
}

button {
	border-radius: 15px;
	padding: 4px 8px;
}

#music-info {
	color: white;
	text-align: left;
}

.note-cell {
	margin-left: 10px; 
	border: 1px solid white;
}

#bandInfo{
    display: none;
}

#errorRoom {
	display: none;
}

#nextGame, #errorRoom, #joinChoice{
    display: show;
}

#mainRoom {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: center;
	color: white;
}

#bandInfo {
	position: absolute;
	left: 35%;
	top: 40%;
	text-align: center;
	width: 30%;
	margin: auto;
}

#band-portal {
	position: absolute;
	text-align: center;
	width: 20%;
	top: 30%;
	left: 40%;
	margin: auto;
}

#note-grid {
	position: absolute;
	bottom: 30px;
	left: 38.3%; 
}

#note-grid-page-label {
	margin: auto;
	text-align: center;
	position: absolute;
	bottom: 100%;
	left: 42.5%;
	color: white;
}

#note-grid-button-previous {
	position: absolute;
	bottom: 100%;
	left: 30%;
}

#note-grid-button-next {
	position: absolute;
	bottom: 100%;
	right: 30%;
}

#note-grid-cell-count {
	color: white;
}

#note-palette {
	position: absolute;
	bottom: 30px;
	border: 1px solid white;
}

#volume-controls {
	color: white;
	position: absolute;
	bottom: 250px;
}

#conductor-controls {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#resetPattern {
	position: absolute;
	bottom: 225px;
}

.palette-cell {
	border: 1px solid white;
	cursor: pointer;
}

form {
	color: white;
}

canvas {
	height: 50px;
	width: 50px;
}